@model MovieForm

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>Success</title>
    <h2>Success! The movie: @Model.Title was updated in the database!</h2>
</head>
<body>
<div>
      
</div>
</body>
</html>