
<h1>Get To Know Joel</h1>

<a href="https://www.qwcomedy.com/">Link to Quick Wits Comedy</a>
<br/>
<a href="https://baconsale.com/">Link to Joel's Baconsale site</a>
<br/>
<a href="https://baconsale.com/">
    <img src="~/images/BaconsaleKate.jpg" height="500"/>
</a>